body{
  background: #E5E5E5;
}

.airbnb-card{
  width: 840px;
  height: 248px;
  background-color: white;

  font-family: 'Poppins' sans-serif;

  padding: 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img{
  position: relative;
  margin-right: 24px;
}

.card-img>button{
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 100px;
  padding: 0;

  background-color: white;
  background-image: url(/img/icon-favorite.svg);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 12px;
  left: 12px;
}

.card-img>img{
  width: 300px;
  height: 200px;
}

strong{
  width: 48px;
  height: 22px;
  display: inline-block;

  background-color: #92174D;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  
  border-radius: 4px;
  margin-right: 8px;
  padding: 1px 8px;
  box-sizing: border-box;
}

header>*:nth-child(2){
  font-size: 16px;
  line-height: 20px;
  color: #7D858F;

  margin-right: 183px;
}

.card-content{
  display: inline-block;
}

.review{
  width: 93px;
  height: 20px;

  display: inline-block;
}

.card-content img{
  width: 13px;
  height: 13px;
}

header{
  margin-bottom: 8px;
}

h1{
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
}

footer{
  font-size: 14px;
  line-height: 16px;
  color: #7D858F;
}

footer>p{
  margin-bottom: 8px;
}